<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KienND9_Assignment11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F179A1051DEB590C00BEDA75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F179A1191DEB590D00BEDA75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F179A1241DEB590D00BEDA75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
